h1 {  text-align:center; font-size: 30px; }
      
table.dataTable thead th {  background-color: #6495ED; color : white ;}

td.details-control {
    background        : url(images/details_open.png) no-repeat center center;
    cursor            : pointer;
    text-align        : center;
}
tr.shown td.details-control {
    background        : url(images/details_close.png) no-repeat center center;
    text-align        : center;
} 
table.detail-info thead th {  background-color: #6495ED; color : white ;}

.pas-d-info {
    color             : black;
    background        : repeating-linear-gradient(
                            45deg,
                            transparent,
                            transparent 10px,
                            #ccc 10px,
                            #ccc 20px
                        ),
                          linear-gradient(
                            to bottom,
                            #eee,
                            #999
                        )
}

.infoPlus {
  overflow            : auto;
  max-height          : 500;
}
.infoPlus th {
  text-align          : center;
  background-color    :  #4169E1;
}
.infoPlusUnite {
  font-style          : italic; 
}
.titreLigne {
  font-weight         : bold;
}
.sauvegarde-OK {
    background-color  : green;
}

.sauvegarde-Warning {
    background-color  : orange;
}

.sauvegarde-Alert {
    background-color  : red;
}

div#footer {
  font-size           : 6px;
  text-align          : center;
  padding-left        : 40px;

}
div.gauche {
  float               : left;
  margin-right        : 10px;
  margin-left         : 10px;
  text-align          : center; 
}
div.droite {
  float               : right;
  width               : 140px;
  margin-right        : 10px; 
  text-align          : center; 
}
div.centre {
  overflow            : hidden;
  overflow            : auto;
}
div#menu {
  background-color    : #6495ED;
   color              : white;
}

div#main {
  margin              : 5px;
}

/* unvisited link */
div#menu a {
    color             : white;
}


/* -------------------*/
/* Pour la partie info */
/* ------------------- */

.replie {
    margin: 10px;
}
.bouton-deplier {
    text-decoration   : none;
    color             : #fff;
    background        : #000;
    padding           : 5px 10px;
    cursor            : pointer;
}
.deplie {
    margin            : 10px;
    color             : #fff;
}
.bouton-replier {
    margin            : 10px;
    display           : inline-block;
    text-decoration   : none;
    color             : #fff;
    background        : #000;
    padding           : 5px 10px;
    cursor            : pointer;
}
.montexte {
    color             : black;
    padding           : 10px 10px 20px 10px;
}


/* -------------------*/
/* Pour les bulles titre des colonnes infoPlus */
/* ------------------- */
.bulle a {
    color             : black;
}
.bulle  a:hover,a:focus, a:active{
    background        : rgba(0,0,0,.4);
    box-shadow        : 0 1px 0 rgba(255,255,255,.4);
}
.bulle a span{
    position          : absolute;    
    margin-top        : -50px;
    margin-left       : 120px;   
    color             : #09c;
    background        : rgba(0,0,0,.9);
    padding           : 15px;
    border-radius     : 3px;
    box-shadow        : 0 0 2px rgba(0,0,0,.5);   
    transform         : scale(0) rotate(-12deg);     
    transition        : all .90s; 
    opacity           : 0;
    width             : 15%;     
    display           : table
}
.bulle a:hover span,  .bulle a:focus span .bulle a:active span{
    transform         : scale(1) rotate(0);  
    opacity           : 1;      
}

/* -------------------*/
/* Pour les bulleHelp  */
/* ------------------- */
.bulleHelp a {
    color             : black;

}
.bulleHelp  a:hover,a:focus, a:active{
    background        : rgba(0,0,0,.4);
    box-shadow        : 0 1px 0 rgba(255,255,255,.4);
}
.bulleHelp a span{
    position          : absolute;    
    margin-top        : 23px;
    margin-left       : -37px;   
    color             : #09c;
    border-color      : #e1ca82;
    background        : rgba(255,234,166,.9);
    padding           : 15px;
    border-radius     : 3px;
    box-shadow        : 0 0 2px rgba(0,0,0,.5);   
    transform         : scale(0) rotate(-12deg);     
    opacity           : 0;
    z-index           : 2500;
}
.bulleHelp-left a span {
    margin-left       : -90px; 
}
.bulleHelp a:hover span,  .bulleHelp a:focus span .bulleHelp {
    transform         : scale(1) rotate(0);  
    opacity           : 1;      
    transition        : all .90s; 
    transition-delay  : 700ms;
}

/* -------------------*/
/* Pour les option supplémentaires dans une des colonne des lignes du tableau 
/* ------------------- */
.bulleLigne {
    display           : inline;
}

.bulleLigne a {
    color             : black;
}
.bulleLigne  a:hover,a:focus, a:active{
    background        : rgba(0,0,0,.4);
    box-shadow        : 0 1px 0 rgba(255,255,255,.4);
}
.bulleLigne a span{
    position          : absolute;    
    margin-top        : 0px;
    margin-left       : 0px;   
    color             : #09c;
    background        : rgba(0,0,0,.9);
    padding           : 3px;
    border-radius     : 3px;
    box-shadow        : 0 0 2px rgba(0,0,0,.5);   
    transform         : scale(0) rotate(-12deg);     
    transition        : all .25s; 
    opacity           : 0;
}
.bulleLigne a:hover span,  .bulleLigne a:focus span .bulleLigne a:active span{
    transform         : scale(1) rotate(0);  
    opacity           : 1;      
}